<div class="form-movie">
    <form class="form-inline" action="/search" method="post">
        <input type="text" class="form-control" name="movie" id="movie" placeholder="Movie Name">
        <div class="movie-radio">
            <input type="radio" name="type" id="type" value='movie' checked> Movies <br>
            <input type="radio" name="type" id="type" value='series'> Series
        </div>
        <button type="submit" class="btn btn-success">Search</button>
    </form>
    <hr>
</div>